<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
    {% include "navbar.html" %}
    
    <div class="container mt-5">
        <div class="col-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    {% block container %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
